.g {
    position: fixed;
    top: 58px;
	width: 1100px;
	height: 650px;
	left: -18px;
    right: 0px;
	margin: auto;
	opacity: .7;   
}

.box {
	position: relative;
	width: 1080px;
	height: 680px;
	top: 40px;
	left: 0px;
    right: 0px;
	margin: auto;
	background-color: rgb(136, 130, 130);
	border: 2px solid  #cfcece;

    display: flex;
    justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.box-item {
	position: relative;
	justify-content: center;
	width: 330px;
	height: 300px;
	top: 10px;
	left: 0px;
}


.m-box {
	position: relative;
	width: 330px;
	height: 300px;
	top: -10px;
	left: 0px;
	margin: auto;
}

.p{
    position: relative;
    width: 330px;
    height: 210px;
    margin: auto;
    border-bottom:1px solid black;
}
.bottom {
    position: relative;
    margin: auto;
    width: 330px;
    height: 90px;
    top: -100.4px;
    left: 0px;
    background-color: #FFE6F4;
}

.mt {
    position: relative;
    margin: auto;
    width: 300px;
    height: 80px;
    top: 5px;
    background-color: #FFE6F4;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.item {
    position: relative;
    margin: auto;
    width: 300px;
    height: 15px;
    background-color: #fff;
    font-size: 3px;
    font-weight: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.item:nth-child(2){
    color: red;
}

.item:nth-child(3){
    height: 20px;
}

.text:nth-child(1){
    color: red;
    font-size: 18px;
}
.text:nth-child(2){
	text-decoration:line-through;
}
